@import url('https:fonts.googleapis.com/css?family=Rubik&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body {
    background: linear-gradient(to right, #d4d3dd, #efefbb);
    margin: 0 auto;
}

h1 { 
    letter-spacing: 5px;
    margin: 20px auto;
    width: 100%;
}

.radio {
    display: inline-block;
}

.options {
    display: flex;
    column-gap: 1rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
}

.pokedex {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
	grid-gap: 20px;
	padding-inline-start: 0;
}

.card {
    list-style: none;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(100,100,100,0.8);
    margin: 10px;
    padding: 20px;
    text-align: center;
    max-width: 160px;
}

.image {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    white-space: nowrap;
}

.middle {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.image img{
    vertical-align: middle;
    max-height: 90%;
}

.info {
    margin-top: 20px;
}

.number {
    background-color: rgba(0, 0, 0, 0.15);
    padding: 2px 10px;
    border-radius: 10px;
    font-size: 0.7rem;
    font-weight: bolder;
    letter-spacing: 1.5px;
}

.name {
    margin: 13px 0 7px;
    letter-spacing: 1.5px;
    text-transform: capitalize;
}

.type {
    font-size: 0.7rem;
    font-weight: bolder;
    text-transform: uppercase;
}
/*
.card.normal { background-color: wheat }
.card.fire { background-color: firebrick }
.card.water { background-color: royalblue }
.card.grass { background-color: springgreen }
.card.poison { background-color: purple }
.card.ground { background-color: sandybrown }
.card.rock { background-color: saddlebrown }
.card.electric { background-color: gold }
.card.ghost { background-color: slateblue }
.card.bug { background-color: olive }
.card.dragon { background-color: teal }
.card.psychic { background-color: plum }
.card.fighting { background-color: salmon }
.card.flying { background-color: skyblue }
.card.steel { background-color: silver }
.card.ice { background-color: aqua }
.card.dark { background-color: dimgrey }
.card.fairy { background-color: pink }
*/